<link
	rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous"
/>

<div class="container text-center">
	<h1 align="center">About</h1>

	<p align="center">
		This is a pasword generator created by Vaibhav Khairnar.<br />
		Well, this is my first Django project through which i just understand
		how the data flows through Django.<br />
	</p>

	<a href="{% url 'home' %}" class="btn btn-info">Home</a>
</div>
